@use '../abstracts/' as *;

:root {
    --step--2: clamp(0.6667rem, 0.7041rem + -0.0483vw, 0.6944rem);
    --step--1: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
    --step-0: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
    --step-1: clamp(1.2rem, 0.8348rem + 1.8261vw, 2.25rem);
    --step-2: clamp(1.44rem, 0.767rem + 3.3652vw, 3.375rem);
    --step-3: clamp(1.728rem, 0.5682rem + 5.7991vw, 5.0625rem);
    --step-4: clamp(2.0736rem, 0.1535rem + 9.6003vw, 7.5938rem);
    --step-5: clamp(2.4883rem, -0.6081rem + 15.4823vw, 11.3906rem);
}

@font-face {
    font-family: 'Kroftsmann';
    src: url('../fonts/Kroftsmann.ttf');
}

@font-face {
    font-family: 'Yulong-Regular';
    src: url('../fonts/Yulong-Regular.ttf');
}

@font-face {
    font-family: 'Yulong-italic';
    src: url('../fonts/Yulong-italic.ttf');
}

@font-face {
    font-family: 'SU-810';
    src: url('../fonts/SU-30SM_810_2019-10-12.ttf');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // display: flex;
    // flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-size: var(--step-0);
    color: #fff;

    margin: 0;
    padding: 0;
    background: $bgHeadtoBottom;
}


.container {
    max-width: 1920px;
    margin-inline: auto;
    padding-inline: 70px;
}

.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #000000, #434343);
    width: 100%;
    scale: 0 1;
    z-index: 11;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

.title {
    font-family: 'SU-810';
    font-size: var(--step-2);
    background: $titleColor;
    background-clip: text;
    color: transparent;
}