@use '../abstracts/' as *;

.page-footer {
    height: 100vh;
    overflow: hidden;
    // filter: blur(100px);
    // scale: 0;
    // border-radius: 100%;
    // animation: projects linear;
    // animation-timeline: view();

    // @keyframes projects {
    //     20% {
    //         filter: blur(0);
    //         border-radius: 0;
    //         scale: 1;
    //     }

    //     55% {
    //         filter: blur(0);
    //         border-radius: 0;
    //         scale: 1;
    //     }
    // }

    .container {
        @include flex-row;
        justify-content: flex-start;

        .projects {
            @include flex-column;
            align-items: flex-start;
            flex-basis: 100%;

            .title {
                margin-block: 50px 100px;
            }

            .projects-list {
                position: relative;
                counter-reset: num;
                list-style: none;

                .project-item {

                    h2 {
                        padding-block: 20px;
                        padding-left: 53px;
                    }

                    ul {
                        list-style: none;

                        li {
                            position: relative;
                            padding-block: 20px;
                            padding-left: 90px;
                        }

                        li::before {
                            content: "";
                            position: absolute;
                            top: 22px;
                            left: 50px;
                            width: 25px;
                            height: 25px;
                            background-color: #1d4350;
                            border-radius: 50%;
                        }
                    }
                }

                .project-item::before {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 19px;
                    left: 2px;
                    content: counter(num);
                    counter-increment: num;
                    font-size: var(--step-1);
                    font-weight: bold;
                    text-align: center;
                    line-height: 43px;
                    background-color: #1d4350;
                    border-radius: 12px;
                }
            }
        }
    }

}