.main-nav {
    position: relative;
    height: 42px;
    overflow: hidden;
    background: rgb(200, 200, 200);
    box-shadow: 0 5px 10px #333;
}

.main-nav .logo {
    position: absolute;
    top: 0;
    animation: translateX 15s alternate forwards ease-in-out infinite;
}

@keyframes translateX {
    from {
        left: 0;
        transform: translateX(0);
    }

    to {
        left: 100%;
        transform: translateX(-100%);
    }
}